<div class="projects">
  <div class="projects__list">
    <ul>
      <li *ngFor="let project of projects" (click)="projectClick(project)">
        <div>Name: {{project.name}}</div>
        <div>Owner: {{project.owner.login}}</div>
        <div>Language: {{project.language}}</div>
        <div>Stargazers: {{project.stargazers_count}}</div>
      </li>
    </ul>

  </div>
  <div class="projects__filters">

    <input type="text" placeholder="Organization" class="projects__organization" />
    <select class="projects__languages">
      <option *ngFor="let lang of languages" value="lang">{{lang}}</option>
    </select>
  </div>
</div>
